@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@100;300;500;700&display=swap');

:root {
    /* --orange: rgb(255, 206, 59); */
    --orange: rgb(255, 191, 0);
    --red: rgb(236, 54, 8);
    --dark-red: rgb(206, 41, 0);
    --white: rgb(238, 247, 255);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lobster", sans-serif;
}

.all-food-container:nth-child(1):nth-child(2) {
    background-image: url(./img/hamburger1.png);
}

body {
    background-image: url(./img/background.jpg);
    background-attachment: fixed; 
    background-size: cover;
    background-position: center;
    color: var(--white);  
    letter-spacing: 3px;
    overflow-x: hidden;
}

#content {
    min-height: 100vh;
    position: relative;
}

.menu-checked {
    padding-bottom: 130px;
}

/* Header */
header {
    background-color: var(--orange);
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

header > h1 {
    font-size: 2.5rem;
    color: var(--red);
    /* letter-spacing: 2px; */
}

header > nav {
    /* background-color: blue; */
    display: flex;
    justify-content: space-between;
    width: 300px;
    border: none;
}

header > nav > button {
    width: auto;
    height: 30px;
    background-color: transparent;
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: 700;
    /* letter-spacing: 2px; */
    padding: 5px 15px;
    border-radius: 5px;
    border: none;
    color: var(--white);
    transition: color 0.3s ease;
}

header > nav > button:hover {
    color: var(--red);
}

/* Home */
.home-container {
    width: 100%;
    height: calc(100vh - 120px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero {
    height: 70%;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 50px;
    border-radius: 5px;
}

.hero > h1,
.hero > h1 > h1 {
    font-size: 4rem;
}

.hero > h1 > span {
    font-size: 4rem;
    margin-left: 15px;
    color: var(--red);
}

.hero > p {
    font-size: 1.3rem;
    margin: 10px 0 20px 0;
    color: var(--yellow);
}

.hero > h1,
.hero > p {
    font-weight: 700;
} 

.hero > button {
    width: 200px;
    height: 40px;
    background-color: var(--red);
    color: var(--white);
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-size: 1.2rem;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.hero > button:hover {
    background-color: var(--dark-red);
}

/* Menu */
.menu-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.menu-container > h1 {
    margin-top: 80px;
    font-size: 3.2rem;
    /* letter-spacing: 2px; */
    color: var(--white);
    text-shadow: 2px 1px 3px rgba(0,0,0,0.49);
}

.all-food-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 50px;
    width: 100%;
    padding: 0 50px;
}

.food-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: var(--orange);
    height: 450px;
    padding: 15px 20px;
    border-radius: 5px;
    color: var(--red);
    box-shadow: 10px 10px 24px 1px rgba(0,0,0,0.36);
}

.food-container > h3:nth-child(1) {
    font-size: 1.8rem;
}

.food-container > img {
    width: 200px;
    min-height: 150px;
    object-fit: cover;
}

.food-container > p {
    color: var(--white);
    font-size: 1.3rem;
}

.food-container > h3:nth-child(4) {
    color: var(--white);
    font-size: 1.5rem;
    /* letter-spacing: 2px; */
}

.food-container > h3:nth-child(4)::first-letter {
    color: var(--dark-red);
}

/* Contact us */
.contact-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.contact-container > h1 {
    margin-top: 80px;
    font-size: 3.2rem;
}

.contact {
    background-color: var(--orange);
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 550px;
    gap: 40px;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 10px 10px 24px 1px rgba(0,0,0,0.36);
}

.info {
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.info img {
    margin-right: 20px;
    height:25px;
    width: 25px;
}

.info  div {
    display: flex;
    align-items: center;
}

.iframe {
    height: 400px;
    width: 100%;
}

/* Footer */
footer {
    background-color: var(--orange);
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: absolute;
    bottom: 0;
    font-size: 1.2rem;
    font-weight: 700;
    /* letter-spacing: 1px; */
}

footer > a {
    text-decoration: none;
    color: var(--white);
    transition: color 0.3s ease;
}

footer > a:hover {
    text-decoration: none;
    color: var(--red);
}

@media (min-width: 1000px) {
    header {
        justify-content: space-around;
        padding: 0;
    }
}

@media (max-width: 700px) {
    header > h1 {
        font-size: 2rem;
    }
    
    header > nav {
        justify-content: space-evenly;
        width: 220px;
    }
    
    header > nav > button {
        font-size: 1.1rem;
        padding: 5px;
    }

    .hero > h1,
    .hero > h1 > h1,
    .hero > h1 > span {
        font-size: 3.5rem;
    }

    .hero > p {
        font-size: 1.1rem;
    }

    .menu-container > h1,
    .contact-container > h1 {
        font-size: 2.8rem;
    }

    .contact {
        width: 450px;
        gap: 30px;
        padding: 30px;
    }
}

@media (max-width: 500px) {
    header {
        flex-direction: column;
        justify-content: center;
        min-height: 80px;
        padding: 0;
    }

    .home-container {
        height: calc(100vh - 140px);
    }

    .hero {
        padding: 10px;
        margin-bottom: 0;
        justify-content: center;
    }

    .hero > h1,
    .hero > h1 > h1,
    .hero > h1 > span {
        font-size: 2.6rem;
    }

    .hero > p {
        font-size: 1rem;
    }
    
    .hero > button {
        width: 180px;
        height: 30px;
        border-radius: 5px;
        padding: 5px;
        font-size: 1rem;
    }

    .menu-container > h1 {
        font-size: 2.5rem;
    }

    .all-food-container {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        padding: 0 10px;
    }

    .contact {
        max-width: 300px;
    }

    .info {
        font-size: 1rem;
    }
    
    .info img {
        margin-right: 20px;
        height: 20px;
        width: 20px;
    }

    .iframe {
        height: 300px;
        width: 100%;
    }

    footer {
        font-size: 1rem;
    }
}

@media (max-width: 350px) {
    .all-food-container {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .food-container {
        justify-content: center;
        height: 350px;
        padding: 10px 5px;
        gap: 10px;
        justify-content: space-between;
    }

    .food-container > h3:nth-child(1) {
        font-size: 1.5rem;
    }

    .food-container > img {
        width: 120px;
        min-height: 120px;
    }
    
    .food-container > p {
        font-size: 1rem;
    }
    
    .food-container > h3:nth-child(4) {
        font-size: 1.3rem;
    }
}